<div class="fixed">
  <button class="category-button waves-effect waves-light btn">Categories</button>
  <br><br>
  <div class="hidden tag-search">
    <%= render 'shared/tag_search', path: selected_path %>
  </div>
</div>