@import "materialize/components/color";
@import 'materialize';
@import "font-awesome";

.header-title {
  text-align: center;
}

body{
  background-color: white;
}

/*#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url('Rainy_Street.jpg') no-repeat;
  background-size: cover;
}*/

.content-form {
  height: 255px;
  width: 1519px;
  margin: 0px;
}

textarea {
  height: 40rem;
}

.hidden {
  display: none;
}

#category:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


